<%= render 'layouts/header' %>
<%= render 'modals/vibeModal' %>
<%= render 'modals/lingoModal' %>
<%= render 'modals/makerModal' %>

<!-- Icons -->
<div class='mail-icon'>
  <%= mail_to "neil.mithipati@gmail.com", raw(image_tag("http://james-milton.com/img/mail_icon1000.png")),
         subject: "Let's Talk", target: "_blank" %>
</div>
<div class="info-icon">
  <i class='fa fa-info-circle'></i>
</div>
<div class='arrow-right arrow'>
  <i class='fa fa-chevron-right'></i>
</div>
<div class='arrow-left arrow'>
  <i class='fa fa-chevron-left'></i>
</div>

<!-- Gallery -->
<div class="zoom-gallery" id="zoom-instance-1">

  <img src="assets/preloader.gif" class="preloader" width="55" height="18" alt="preloader" />

  <ul>

    <li title= <%= get_image('mainApp') %> >
      <ul class="align-left">
      </ul>
    </li>

    <li title= <%= get_image('vibeApp') %> >
      <ul class="align-left" title='#vibeModal'>
        <li class="20x10" style="background-color: #FFFFFF; color: #000000">vibe</li>
        <li class="20x65" style="background-color: #000000; color: #FFFFFF">stream music based on your mood</li>
      </ul>
    </li>

    <li title= <%= get_image('lingoApp') %> >
      <ul class="align-right" title='#lingoModal'>
        <li class="20x241" style="background-color: rgb(220,32,35); color: #FFFFFF">Lingo</li>
        <li class="20x295" style="background-color: rgb(59,63,154); color: #FFFFFF">define and share your own words</li>
        </ul>
    </li>

    <li title= <%= get_image('makerApp') %> >
      <ul class="align-left" title='#makerModal'>
        <li class="20x241" style="background-color: #FFFFFF; color: #000000">Meet Your Maker</li>
        <li class="20x296" style="background-color: rgb(63,103,161); color: #FFFFFF">determine life expectancy</li>
        </ul>
    </li>

  </ul>

  <!-- If JavaScript is disabled, we'll just display the first image -->
  <noscript>
      <div id="noscript">
        <img src="img/showcase/1.jpg" width="565" height="377" alt="jQuery Banner Rotator" />
      </div>
  </noscript>

</div>

<%= render 'layouts/footer' %>
